/* colors */
$c-white-bg: #ffffff;
$c-white-bg-highlite: #d0e3f0;
$c-white-txt: #333333;
$c-white-a: #0089c7;
$c-white-border: #333333;
$c-blue-bg: #ffffff;
$c-blue-bg-highlite: #d0e3f0;
$c-blue-txt: #39ace0;
$c-blue-a: #0089c7;
$c-blue-border: #ffffff;
$c-bright-bg: #d0e3f0;
$c-bright-bg-highlite: #bcd7e9;
$c-bright-txt: #444444;
$c-bright-a: #000000;
$c-grey-bg: #ececec;
$c-grey-bg-highlite:#ececec;
$c-grey-txt: #f6f6f6;
$c-dark-bg: #333333;
$c-dark-bg-highlite: #222222;
$c-dark-txt: #dddddd;
$c-dark-a: #ffffff;

$c-footer-bg: #222222;
$c-footer-txt:#aaa;
$c-footer-a:  #dddddd;

/* page sizes */
$s-pagewidth: 83rem;
$s-contentwidth: 60rem;
