
{{ define "main" }}
{{ with .Site.GetPage "page" "home/main" }}
<main id="main" class="home">
<section id="description" class="blue">
    <h1>qaul – قول</h1>
    <h2>{{ .Params.Title }}</h2>
</section>
{{ end }}
{{ with .Site.GetPage "news" }}
<section id="news" class="blue">
    <div class="headline">
        <div class="line"><hr/></div>
        <h4><a href="{{ relLangURL "/news" }}">{{ i18n "News" }}</a></h4>
        <div class="line"><hr/></div>
    </div>
    <div class="teasers">
    {{ range first 3 ( where .Paginator.Pages ".Params.startpage" "eq" true) }}
    <a href="{{ .Permalink }}" class="item">
        <div class="title">{{ .Title }}</div>
        <div class="description">{{ .Description }}</div>
    </a>
    {{ end }}
    </div>
</section>
{{ end }}
{{ with .Site.GetPage "home/mesh" }}
<section id="mesh" class="dark">
<div class="page">
    <div class="xl6 s12 box">
        <img src="/home/qaul-mesh.svg">
    </div>
    <div class="xl5 s12 box">
        <p>{{ .Params.Description | markdownify }}</p>
    </div>
</div>
</section>
{{ end }}
{{ with .Site.GetPage "page" "home/features" }}
<section id="features" class="blue">
<div class="page">
    <h1>{{ .Title }}</h1>
    <div class="feature s6 m4 box">
        {{ partial "fontawesome.html" "comments" }}
        <h3>{{ .Params.TextMessaging }}</h3>
        <p>{{ .Params.TextMessagingDetails }}</p>
    </div>
    <div class="feature s6 m4 box">
        {{ partial "fontawesome.html" "copy" }}
        <h3>{{ .Params.FileSharing }}</h3>
        <p>{{ .Params.FileSharingDetails }}</p>
    </div>
    <div class="feature s6 m4 box">
        {{ partial "fontawesome.html" "phone-volume" }}
        <h3>{{ .Params.VoiceChat }}</h3>
        <p>{{ .Params.VoiceChatDetails }}</p>
    </div>
    <div class="feature s6 m4 box">
        {{ partial "fontawesome.html" "users" }}
        <h3>{{ .Params.UserDiscovery }}</h3>
        <p>{{ .Params.UserDiscoveryDetails }}</p>
    </div>
    <div class="feature s6 m4 box">
        {{ partial "fontawesome.html" "wifi" }}
        <h3>{{ .Params.WifiP2P }}</h3>
        <p>{{ .Params.WifiP2PDetails }}</p>
    </div>
    <div class="feature s6 m4 box">
        {{ partial "fontawesome.html" "language" }}
        <h3>{{ .Params.MultilingualInterface }}</h3>
        <p>{{ .Params.MultilingualInterfaceDetails }}</p>
    </div>
</section>
{{ end }}
<!--
{{ with .Site.GetPage "home/screenshots" }}
<section id="screenshots" class="dark">
<div class="page">
        <h1>{{ .Title }}</h1>
    {{ .Content }}
</div>
</section>
{{ end }}
-->
{{ with .Site.GetPage "home/download" }}
<section id="download" class="dark">
<div class="page">
    <h1>{{ .Title }}</h1>
    <div class="s12">
        {{ .Content }}
    </div>
    <div class="distro m3 s6 box">
        <a href="https://play.google.com/store/apps/details?id=net.qaul.qaul_app" target="_blank">
        {{ partial "fontawesome.html" "android" }}
        Android Playstore</a><br/>
        <br/>
        <a href="https://github.com/qaul/qaul.net/releases/download/v2.0.0-beta.7%2B871-flutter/qaul-2.0.0-beta.7+876.apk">Download Universal APK [138MB]</a>
    </div>
    <div class="distro m3 s6 box">
        <a href="https://github.com/qaul/qaul.net/releases/download/v2.0.0-beta.7%2B871-flutter/qaul_installer_2.0.0-beta.7+871.exe">
        {{ partial "fontawesome.html" "windows" }}
        Windows Installer
        </a>
    </div>
    <div class="distro m3 s6 box">
        <a href="https://github.com/qaul/qaul.net/releases/download/v2.0.0-beta.7%2B871-flutter/qaul-2.0.0-beta.7+871.dmg">
        {{ partial "fontawesome.html" "apple" }}
        MacOS Installer
        </a>
    </div>
    <div class="distro m3 s6 box">
        <a href="https://github.com/qaul/qaul.net/releases/download/v2.0.0-beta.7%2B871-flutter/qaul-2.0.0-beta.7+871.snap">
        {{ partial "fontawesome.html" "linux" }}
        Linux Snap Package
        </a>
    </div>
</div>
<p><a href="https://github.com/qaul/qaul.net/releases" target="_blank">All Releases &gt;&gt;</a></p>
</section>
{{ end }}
{{ with .Site.GetPage "home/participation" }}
<section id="participation" class="blue">
<div class="page">
    <h1>{{ .Title }}</h1>
    <nav>
    <div class="m4 s6 box participation__box">
        <h3>{{ partial "fontawesome.html" "book-reader" }}</h3>
        <ul class="left-aligned">
            <li><a href="{{ "tutorials" | relLangURL }}">
                {{ partial "fontawesome.html" "chalkboard-teacher" }}
                {{ i18n "Tutorials" }}</a></li>
            <li><a href="http://qaul.github.io/qaul.net/#/qaul/README" target="_blank">
                {{ partial "fontawesome.html" "book" }}
                {{ i18n "QaulNetManual" }}</a></li>
            <li><a href="https://docs.qaul.net/api/libqaul" target="_blank">
                {{ partial "fontawesome.html" "book" }}
                {{ i18n "QaulNetAPI" }}</a></li>
            </ul>
    </div>
    <div class="m4 s6 box participation__box">
        <h3>{{ partial "fontawesome.html" "laptop-code" }}</h3>
        <ul class="left-aligned">
            <li><a href="https://github.com/qaul/qaul.net" target="_blank">
                {{ partial "fontawesome.html" "git-square" }} 
                {{i18n "QaulNetRepository"}}</a></li>
            <li><a href="https://github.com/qaul/qaul.net/issues" target="_blank">
                {{ partial "fontawesome.html" "bug" }}
                {{i18n "BugReport"}}</a></li>
            <li><a href="https://github.com/qaul/qaul-website" target="_blank">
                {{ partial "fontawesome.html" "language" }}
                {{i18n "TranslateQaul"}}</a></li>
        </ul>
    </div>
    <div class="m4 s6 box participation__box">
        <h3>{{ partial "fontawesome.html" "comments-solid" }}</h3>
        <ul class="left-aligned">
            <li><a href="mailto:contact@qaul.net" target="_blank">
                {{ partial "fontawesome.html" "envelope" }} 
                contact@qaul.net</a></li>
            <li><a href="https://matrix.to/#/#qaul.net:c-base.org" target="_blank">
                {{ partial "fontawesome.html" "comments" }} 
                {{ i18n "MatrixChat" }}</a></li>
        </ul>
    </div>
    </nav>
</div>
</section>
{{ end }}
</main>
{{ end }}
