
{{ define "main" }}
{{ with .Site.GetPage "page" "home/main" }}
<main id="main" class="home">
<section id="description" class="blue">
    <div class="grafics">
        <img src="/home/qaul-splash.jpg" alt="qaul Network" />
    </div>
    <div class="description">
    <h1>qaul <span class="arabic-font">قول</span></h1>
    <h2>{{ .Params.Title }}</h2>
    </div>
</section>
{{ end }}
{{ with .Site.GetPage "news" }}
<section id="news" class="blue">
    <div class="headline">
        <h2><a href="{{ relLangURL "/news" }}">{{ i18n "News" }}</a></h2>
    </div>
    <div class="teasers">
    {{ range first 3 ( where .Paginator.Pages ".Params.startpage" "eq" true) }}
    <a href="{{ .Permalink }}" class="item">
        <div class="title">{{ .Title }}</div>
        <div class="description">{{ .Description }}</div>
    </a>
    {{ end }}
    </div>
</section>
{{ end }}
{{ with .Site.GetPage "home/mesh" }}
<section id="mesh" class="dark">
<div class="page">
    <div class="xl6 s12 box">
        <img src="/home/qaul-mesh.svg">
    </div>
    <div class="xl5 s12 box">
        <p>{{ .Params.Description | markdownify }}</p>
    </div>
</div>
</section>
{{ end }}
{{ with .Site.GetPage "page" "home/features" }}
<section id="features" class="blue">
<div class="page">
    <h1>{{ .Title }}</h1>
    <div class="feature s6 m4 box">
        <img src="/home/public-sign.png" alt="Public Broadcast Messages" class="icon" />
        <h3>{{ .Params.PublicBroadcast }}</h3>
        <p>{{ .Params.PublicBroadcastDetails }}</p>
    </div>
    <div class="feature s6 m4 box">
        <img src="/home/chat-sign.png" alt="Encrypted Chat" class="icon" />
        <h3>{{ .Params.Chat }}</h3>
        <p>{{ .Params.ChatDetails }}</p>
    </div>
    <div class="feature s6 m4 box">
        {{ partial "fontawesome.html" "copy" }}
        <h3>{{ .Params.FilesPhotos }}</h3>
        <p>{{ .Params.FilesPhotosDetails }}</p>
    </div>
    <div class="feature s6 m4 box">
        <img src="/home/user-sign2.png" alt="User Discovery" class="icon" />
        <h3>{{ .Params.Discovery }}</h3>
        <p>{{ .Params.DiscoveryDetails }}</p>
    </div>
    <div class="feature s6 m4 box">
        <img src="/home/network-sign.png" alt="Network Overview" class="icon" />
        <h3>{{ .Params.NetworkOverview }}</h3>
        <p>{{ .Params.NetworkOverviewDetails }}</p>
    </div>
    <div class="feature s6 m4 box">
        {{ partial "fontawesome.html" "stopwatch" }}
        <h3>{{ .Params.DelayTolerant }}</h3>
        <p>{{ .Params.DelayTolerantDetails }}</p>
    </div>
    <div class="feature s6 m4 box">
        {{ partial "fontawesome.html" "language" }}
        <h3>{{ .Params.Multilingual }}</h3>
        <p>{{ .Params.MultilingualDetails }}</p>
    </div>
    <p class="s12 m12 box">
        <a href="{{ "tutorials/user-documentation" | relLangURL }}">
            {{ .Params.UserDocumentation }}</a>
        </p>
</section>
{{ end }}
<!--
{{ with .Site.GetPage "home/screenshots" }}
<section id="screenshots" class="dark">
<div class="page">
        <h1>{{ .Title }}</h1>
    {{ .Content }}
</div>
</section>
{{ end }}
-->
{{ with .Site.GetPage "home/download" }}
<section id="download" class="dark">
<div class="page">
    <h1>{{ .Title }}</h1>
    <div class="s12">
        {{ .Content }}
    </div>
    <div class="distro m3 s6 box">
        <a href="https://play.google.com/store/apps/details?id=net.qaul.qaul_app" target="_blank">
        {{ partial "fontawesome.html" "android" }}
        Android Playstore</a><br/>
        <br/>
        <a href="https://github.com/qaul/qaul.net/releases/download/v2.0.0-rc.2/qaul-2.0.0-rc.2.apk">Download Universal APK [90.9MB]</a>
    </div>
    <div class="distro m3 s6 box">
        <a href="https://testflight.apple.com/join/Opmxb2Ym" target="_blank">
        {{ partial "fontawesome.html" "apple" }}
        iOS<br/>
        (become a tester on TestFlight)</a><br/>
    </div>
    <div class="distro m3 s6 box">
        <a href="https://github.com/qaul/qaul.net/releases/download/v2.0.0-rc.2/qaul_installer_2.0.0-rc.2.exe">
        {{ partial "fontawesome.html" "windows" }}
        Windows Installer
        </a>
    </div>
    <div class="distro m3 s6 box">
        <a href="https://github.com/qaul/qaul.net/releases/download/v2.0.0-rc.2/macos-qaul-2.0.0-rc.2.zip">
        {{ partial "fontawesome.html" "apple" }}
        MacOS Installer
        </a>
    </div>
    <div class="distro m3 s6 box">
        <a href="https://snapcraft.io/qaul" target="_blank">
        {{ partial "fontawesome.html" "linux" }}
        Linux Snap Store
        </a>
    </div>
</div>
<p><a href="https://github.com/qaul/qaul.net/releases" target="_blank">All Releases &gt;&gt;</a></p>
</section>
{{ end }}
{{ with .Site.GetPage "home/participation" }}
<section id="participation" class="blue">
<div class="page">
    <h1>{{ .Title }}</h1>
    <nav>
    <div class="m4 s6 box participation__box">
        <h3>{{ partial "fontawesome.html" "book-reader" }}</h3>
        <ul class="left-aligned">
            <li><a href="{{ "tutorials" | relLangURL }}">
                {{ partial "fontawesome.html" "chalkboard-teacher" }}
                {{ i18n "Tutorials" }}</a></li>
            <li><a href="http://qaul.github.io/qaul.net/#/qaul/README" target="_blank">
                {{ partial "fontawesome.html" "book" }}
                {{ i18n "QaulNetManual" }}</a></li>
            <li><a href="https://docs.qaul.net/api/libqaul" target="_blank">
                {{ partial "fontawesome.html" "book" }}
                {{ i18n "QaulNetAPI" }}</a></li>
            </ul>
    </div>
    <div class="m4 s6 box participation__box">
        <h3>{{ partial "fontawesome.html" "laptop-code" }}</h3>
        <ul class="left-aligned">
            <li><a href="https://github.com/qaul/qaul.net" target="_blank">
                {{ partial "fontawesome.html" "github" }} 
                {{i18n "QaulNetRepository"}}</a></li>
            <li><a href="https://github.com/qaul/qaul.net/issues" target="_blank">
                {{ partial "fontawesome.html" "bug" }}
                {{i18n "BugReport"}}</a></li>
            <li><a href="https://github.com/qaul/qaul.net/tree/main/qaul_ui#l10n-adding-a-new-language-support" target="_blank">
                {{ partial "fontawesome.html" "language" }}
                {{i18n "TranslateQaul"}}</a></li>
        </ul>
    </div>
    <div class="m4 s6 box participation__box">
        <h3>{{ partial "fontawesome.html" "comments-solid" }}</h3>
        <ul class="left-aligned">
            <li><a href="mailto:contact@qaul.net" target="_blank">
                {{ partial "fontawesome.html" "envelope" }} 
                contact@qaul.net</a></li>
            <li><a href="https://matrix.to/#/#qaul.net:c-base.org" target="_blank">
                {{ partial "fontawesome.html" "comments" }} 
                {{ i18n "MatrixChat" }}</a></li>
        </ul>
    </div>
    </nav>
</div>
</section>
{{ end }}
</main>
{{ end }}
